

/*------------------- Border box model------------------- */

 * {box-sizing: border-box; }
/* ------------------------Font------------------------ */
 * {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
      }

/*------------------ Clear float------------------ */
.clearfix { clear: both;}
/*------------------ Variables------------------ */
$min-width: 320px;
$min-width: 1600px;

/* Breakpoints */
$bp-small: 400px;
$bp-small-plus: 550px;
$bp-tablet: 720px;
$bp-desktop: 900px;

