@import "add-ones";

li {
  list-style: none;
}
.wrapper {
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
}
h2 {
  border: 1px solid red;
  font-size: 1rem;
  padding: 20px;
}  

/*--------------------------------------------- Header--------------------------------------------- */
header {
  height: 80px;
  background: #000;
}
.logo {
    display: block;
    position: absolute;
    top: 33px;
    left: 22px;
    height: 28px;
    width: 120px;
    cursor: pointer;
    background-image: url(../img/sixt_logo.svg);
    background-repeat: no-repeat;
    /* Hiding text */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    @media (min-width: $bp-small){
      height: 28px;
      width: 200px;
    }
    @media (min-width: $bp-tablet){
      top: 10px;
      left: 20px;
      height: 58px;
      width: 250px;
     }
    }

.top-wrap {
  position: relative;
  padding: 0 20px 0 20px;
  height: 80px;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  .top-nav {
    position: absolute;
    background: #000;
    height: 80px;
    width: 160px;
    top: 0;
    right: 20px;
    padding-top: 30px;
    display: block;
    z-index: 105;
    @media (min-width: $bp-small){
      width: 195px;
    }
    @media (min-width: $bp-small-plus){
      width: 320px;
    }
    li {
      float: right;
      padding-right: 30px;
      padding-left: 15px;
      position: relative;
     a { 
      display: block;
      font-size: 0.1rem;
      color: #000;
      @media (min-width: $bp-small){
      font-size: 1rem;
      color: #fff;
    }
      &:before {
             content: "";
             position: absolute;
             top: 0;
             right: 0;
             width: 25px;
             height: 27px;
           }
         }
      &:first-child {
       a {
        &:before {
                 top: -3px;
                 background-image: url(../img/burger_menu_icon.png);
               }
             }
      }
       &:nth-child(2) {
       a { 
        &:before {
                 background-image: url(../img/login_icon.png);
               }
             }
      }
       &:last-child {
        display: none;
        @media (min-width: $bp-small-plus) {
          padding-right: 15px;
          display: block;
          border-right: 2px solid #fff;
        }
      }
    }
  }
}
/* ----------------------------Drop down menu---------------------------- */
.drop-nav {
  background: #fff;
  width: 160px;
  position: absolute;
  z-index: 102;
  right: 20px;
  border: 1px solid #000;
  li {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 125, 25, .6);
  }
  a {
    font-size: 0.65rem;
    color: #000;
    @media (min-width: $bp-small){
      font-size: 0.8rem;
    }
  }
  }
}
.active {background: #FF7D19; }
.slide-up {
    top: -150px;
    transition: top 0.8s;
  }
.slide-down {
    top: 80px;
    transition: top 0.8s;
  }
/*--------------------------------------------- Slideshow--------------------------------------------- */
.cycle-slideshow {z-index: 1;}
.cycle-prev,.cycle-next  {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 101;
    top:50%;
    margin-top: -17px;
    &:before, &:after {
      content: "";
    background: #FF7D19;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    }
  }
  .cycle-prev {
    right: 10px;
    &:before {transform: rotate(-45deg); bottom: 5px;}
    &:after {transform: rotate(45deg); }
  }
  .cycle-next {
    left: 10px;
    &:before {transform: rotate(45deg); bottom: 5px;}
    &:after {transform: rotate(-45deg); }
  }
/*--------------------------------------------- Date Picker--------------------------------------------- */
.date-picker {
  position: relative;
  background: #fff;
  z-index: 101;
  form {
    position: relative;
    padding: 3%;
    @media (min-width: $bp-tablet){
      padding: 0 3% 10px;
      position: absolute;
      background: #fff;
      bottom: 20px;
      width: 620px;
      left: 50%;
      margin-left: -310px;
      display: flex;
      & > * {
        flex: 4;
        border-right: 6px solid #fff;
        &:last-child {
         flex: 1;
         height: 40px;
         margin-top: 51px;
      }
    }
    }
    @media (min-width: $bp-desktop){
      width: 700px;
      margin-left: -350px;
    }
    div {
      & > label {padding: 10px 0;}
      & > input {
        display: block;
        background: #e6e6e6;
        border: 1px solid #fff;
        height: 40px;
        margin-top: 10px;
        padding-left: 28px;
        color: #FF7D19;
        &:focus {
          border: 1px solid #FF7D19;
          outline-offset: 0;
          outline: none;
      }
    }
    }
    .pickup-place-holder {
     input {width: 100%;}
    }
    button {
      background: #FF7D19;
      position: relative;
      width: 100%;
      padding: 10px;
      border: none;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      @media (min-width: $bp-tablet){
        & > * {
          &:first-child {display: none;}
          &:last-child {
            display: block;
            position: absolute;
            left: 37px;
            bottom: 10px;
            height: 15px;
            width: 15px;
             &:before, &:after {
      content: "";
    background: #fff;
    height: 3px;
    position: absolute;
    left: 3px;
    right: 0;
    }
    &:before {transform: rotate(-45deg); bottom: 5px;}
    &:after {transform: rotate(45deg); }
          }
        }
      }
    }
    & > * {margin-top: 20px;}
  }
}

.all-dates-holder {
  display: flex;
  & > * {
    flex: 1;
    &:first-child {border-right: 2px solid #fff;}
    &:last-child {border-left: 2px solid #fff;}
    input {width: 100%;}
}
}

.pickup-place-holder,
.pickup-date-holder,
.return-date-holder {
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 5px;
    bottom: 10px;
  }
}

.pickup-date-holder,
.return-date-holder {
  &:before {
    background-image: url(../img/calendar_icon.svg);
    background-repeat: no-repeat; 
  }
}

.pickup-place-holder {
  &:before {
    background-image: url(../img/location_icon.svg);
    background-repeat: no-repeat; 
  }
}

/* Datepicker plugin */

.datepick {
  font-family: 'Roboto', sans-serif;
  .datepick-nav, .datepick-ctrl {
    background: #FF7D19; 
    font-weight: normal;
    a:hover {background: #FF7D19;}
  }
  a.datepick-today, 
  a.datepick-highlight {
    background: #FF7D19;
  }
  tbody a:hover {
    background: rgba(255, 125, 25, .6);
  }
}


/*--------------------------------------------- Dummi Text--------------------------------------------- */
main {
  padding: 1px 3% 5px;
  @media (min-width: $bp-tablet){
    padding: 1px 10% 10px;
    .text-block {
      display: flex;
        div {
          flex: 1;
          padding: 0 1%;
        }}
  }
  h3 {
    font-size: 0.8rem;
    @media (min-width: $bp-small){font-size: 1.2rem;}
    @media (min-width: $bp-small-plus){font-size: 1.3rem;}
    @media (min-width: $bp-tablet){font-size: 1.4rem;}
  }
}
/*--------------------------------------------- Footer--------------------------------------------- */


 footer {
  background: #FF7D19;
  padding: 1px;
  .copyright {
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 30px 0;
  }
}







