/*------------------- Border box model------------------- */
* {
  box-sizing: border-box; }

/* ------------------------Font------------------------ */
* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

/*------------------ Clear float------------------ */
.clearfix {
  clear: both; }

/*------------------ Variables------------------ */
/* Breakpoints */
li {
  list-style: none; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto; }

h2 {
  border: 1px solid red;
  font-size: 1rem;
  padding: 20px; }

/*--------------------------------------------- Header--------------------------------------------- */
header {
  height: 80px;
  background: #000; }

.logo {
  display: block;
  float: left;
  margin-top: 23px;
  height: 28px;
  width: 120px;
  cursor: pointer;
  background-image: url(../img/sixt_logo.svg);
  background-repeat: no-repeat;
  /* Hiding text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
  @media (min-width: 400px) {
    .logo {
      height: 28px;
      width: 160px; } }
  @media (min-width: 720px) {
    .logo {
      margin-top: 10px;
      height: 58px;
      width: 250px; } }

.top-wrap {
  position: relative;
  padding: 0 20px 0 20px;
  height: 80px;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  z-index: 113; }
  .top-wrap .top-nav {
    position: relative;
    float: right;
    background: #000;
    height: 80px;
    width: 160px;
    padding-top: 30px;
    display: block;
    z-index: 113; }
    @media (min-width: 400px) {
      .top-wrap .top-nav {
        width: 195px; } }
    @media (min-width: 550px) {
      .top-wrap .top-nav {
        width: 320px; } }
    .top-wrap .top-nav li {
      float: right;
      padding-right: 30px;
      padding-left: 15px;
      position: relative; }
      .top-wrap .top-nav li a {
        display: block;
        font-size: 0.1rem;
        color: #000; }
        @media (min-width: 400px) {
          .top-wrap .top-nav li a {
            font-size: 1rem;
            color: #fff; } }
        .top-wrap .top-nav li a:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 25px;
          height: 27px; }
      .top-wrap .top-nav li:first-child a:before {
        top: -3px;
        background-image: url(../img/burger_menu_icon.png); }
      .top-wrap .top-nav li:nth-child(2) a:before {
        background-image: url(../img/login_icon.png); }
      .top-wrap .top-nav li:last-child {
        display: none; }
        @media (min-width: 550px) {
          .top-wrap .top-nav li:last-child {
            padding-right: 15px;
            display: block;
            border-right: 2px solid #fff; } }

/* ----------------------------Drop down menu---------------------------- */
.drop-nav {
  background: #fff;
  width: 160px;
  position: absolute;
  top: -150px;
  z-index: 110;
  right: 20px;
  border: 1px solid #000;
  -webkit-transition: top 0.8s;
  transition: top 0.8s; }
  .drop-nav li {
    padding: 5px;
    cursor: pointer; }
    .drop-nav li:hover {
      background: rgba(255, 125, 25, 0.6); }
    .drop-nav li a {
      font-size: 0.65rem;
      color: #000; }
      @media (min-width: 400px) {
        .drop-nav li a {
          font-size: 0.8rem; } }

.active {
  background: #FF7D19; }

.slide-menu {
  top: 80px;
  -webkit-transition: top 0.8s;
  transition: top 0.8s; }

/*--------------------------------------------- Slideshow--------------------------------------------- */
.cycle-slideshow {
  z-index: 1; }

.cycle-prev, .cycle-next {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 101;
  top: 50%;
  margin-top: -17px; }
  .cycle-prev:before, .cycle-prev:after, .cycle-next:before, .cycle-next:after {
    content: "";
    background: #FF7D19;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0; }

.cycle-next {
  right: 10px; }
  .cycle-next:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 5px; }
  .cycle-next:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.cycle-prev {
  left: 10px; }
  .cycle-prev:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 5px; }
  .cycle-prev:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/*--------------------------------------------- Date Picker--------------------------------------------- */
.date-picker {
  position: relative;
  background: #fff;
  z-index: 101; }
  .date-picker form {
    position: relative;
    padding: 3%; }
    @media (min-width: 720px) {
      .date-picker form {
        padding: 0 3% 10px;
        position: absolute;
        background: #fff;
        bottom: 20px;
        width: 620px;
        left: 50%;
        margin-left: -310px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .date-picker form > * {
          -webkit-box-flex: 4;
          -ms-flex: 4;
          flex: 4;
          margin-right: 6px; }
          .date-picker form > *:last-child {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            height: 40px;
            margin-top: 51px; } }
    @media (min-width: 900px) {
      .date-picker form {
        width: 700px;
        margin-left: -350px; } }
    .date-picker form div > label {
      padding: 10px 0; }
    .date-picker form div > input {
      display: block;
      background: #e6e6e6;
      border: 1px solid #fff;
      height: 40px;
      margin-top: 10px;
      padding-left: 28px;
      color: #FF7D19; }
      .date-picker form div > input:focus {
        border: 1px solid #FF7D19;
        outline-offset: 0;
        outline: none; }
    .date-picker form .pickup-place-holder input {
      width: 100%; }
    .date-picker form button {
      background: #FF7D19;
      position: relative;
      width: 100%;
      padding: 10px;
      border: none;
      color: #fff;
      font-family: 'Roboto', sans-serif; }
      @media (min-width: 720px) {
        .date-picker form button > *:first-child {
          display: none; }
        .date-picker form button > *:last-child {
          display: block;
          position: absolute;
          left: 37px;
          bottom: 10px;
          height: 15px;
          width: 15px; }
          .date-picker form button > *:last-child:before, .date-picker form button > *:last-child:after {
            content: "";
            background: #fff;
            height: 3px;
            position: absolute;
            left: 3px;
            right: 0; }
          .date-picker form button > *:last-child:before {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            bottom: 5px; }
          .date-picker form button > *:last-child:after {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }
    .date-picker form > * {
      margin-top: 20px; }

.all-dates-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .all-dates-holder > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .all-dates-holder > *:first-child {
      margin-right: 2px; }
    .all-dates-holder > *:last-child {
      margin-left: 2px; }
    .all-dates-holder > * input {
      width: 100%; }

.pickup-place-holder,
.pickup-date-holder,
.return-date-holder {
  position: relative; }
  .pickup-place-holder:before,
  .pickup-date-holder:before,
  .return-date-holder:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 5px;
    bottom: 10px; }

.pickup-date-holder:before,
.return-date-holder:before {
  background-image: url(../img/calendar_icon.svg);
  background-repeat: no-repeat; }

.pickup-place-holder:before {
  background-image: url(../img/location_icon.svg);
  background-repeat: no-repeat; }

/* Datepicker plugin */
.datepick {
  font-family: 'Roboto', sans-serif; }
  .datepick .datepick-nav, .datepick .datepick-ctrl {
    background: #FF7D19;
    font-weight: normal; }
    .datepick .datepick-nav a:hover, .datepick .datepick-ctrl a:hover {
      background: #FF7D19; }
  .datepick a.datepick-today,
  .datepick a.datepick-highlight {
    background: #FF7D19; }
  .datepick tbody a:hover {
    background: rgba(255, 125, 25, 0.6); }

/*--------------------------------------------- Dummi Text--------------------------------------------- */
main {
  padding: 1px 3% 5px; }
  @media (min-width: 720px) {
    main {
      padding: 1px 10% 10px; }
      main .text-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        main .text-block div {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          padding: 0 1%; } }
  main h3 {
    font-size: 0.8rem; }
    @media (min-width: 400px) {
      main h3 {
        font-size: 1.2rem; } }
    @media (min-width: 550px) {
      main h3 {
        font-size: 1.3rem; } }
    @media (min-width: 720px) {
      main h3 {
        font-size: 1.4rem; } }

/*--------------------------------------------- Footer--------------------------------------------- */
footer {
  background: #FF7D19;
  padding: 1px; }
  footer .copyright {
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 30px 0; }

/*# sourceMappingURL=styles.css.map */
